.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-input {
  @apply block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1
  ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset
  focus:ring-indigo-600 sm:text-sm sm:leading-6
}
